datasets==2.19.0
gretel-client>=0.21.0
langchain>=0.2.2
numpy==1.26.4
pandas==2.2.1
streamlit>=1.35.0
tqdm==4.66.4
sqlfluff==3.1.0
pyautogen[mistral,groq]==0.2.35
litellm>=1.43.9
json_repair==0.27.2
rich==13.7.0
pydantic >= 2.0.0
scikit-learn==1.4.2
